build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcworkspace/xcuserdata
*.swiftpm
.xcode-env

# macOS
.DS_Store

# Swift Package Manager
Package.resolved
.pins/

*.xcuserdatad/
*.xccheckout