build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcworkspace/xcuserdata
*.swiftpm
.xcode-env

# macOS
.DS_Store

# Swift Package Manager
Package.resolved
.pins/

*.xcuserdatad/
*.xccheckout
*.xcuserstate
FinanceFlow.xcodeproj/xcuserdata/pavelkalinin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FinanceFlow.xcodeproj/xcuserdata/pavelkalinin.xcuserdatad/xcschemes/xcschememanagement.plist
FinanceFlow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
