//
//  Release.xcconfig.swift
//  FinanceFlow
//
//  Created by Павел Калинин on 10.01.2026.
//

OTHER_SWIFT_FLAGS = $(inherited) -D RELEASE

SWIFT_OPTIMIZATION_LEVEL = -O
GCC_OPTIMIZATION_LEVEL = 3

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

STRIP_INSTALLED_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES
COPY_PHASE_STRIP = YES
